body {
    background-image: url("images/doo.png");
}

.colorH {
    background-color: #1abc9c;
}

.footer {
    background-color: #1abc9c;
    margin-top: 50px;
    border-radius: 3px;
    height: 90px;
    padding: 30px;
}

.titl {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.iconC {
    margin-top: 400px;
}

img {
    width: 100px;
    height: 100px;
}

.firstRow {
    margin-right: -350px;
    margin-left: -10px;
    flex-wrap: wrap;
}

.secondRow {
    margin-left: 80px;
    margin-right: -187px;
}