.container1 {
    height:800px;
    background-image: url("images/kimi-lee.jpg");
    background-size: contain; /* or contain depending on what you want */
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    padding:0;
}

.colorH {
background-color: #1abc9c;
}

.titl {
text-align: center;
font-family: Georgia, 'Times New Roman', Times, serif;
}

.iconC {
margin-top: 450px;
}

/*div img {
width: 100px;
height: 100px;
}*/


.firstRow {
margin-right: -127px;
margin-left: 128px;
flex-wrap: wrap;

}

.secondRow {
margin-left: 190px;
/* margin-right: -187px; */
}

footer {
background-color: #1abc9c;
margin-top: -10px;
/* border-radius: 3px; */
height: 80px;
padding: 30px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
position: relative;
}